%p#notice.mb-2= notice
.shipping-methods-container
  .shipping-methods-header.row
    .col-lg-6.left-col
      %h1
        Shipping methods
        %span.badge.badge-primary
          = @shipping_methods.count
    .col-lg-6.right-col
      = link_to 'Add shipping method', new_admin_shipping_method_path, class: 'btn btn-primary btn-md'
  - if @shipping_methods.exists?
    %table.table.table-hover.shipping-methods-table
      %thead
        %tr
          %th(scope="col") ID
          %th(scope="col") Name
          %th(scope="col") Cost
          %th(scope="col") Actions
      %tbody
        - @shipping_methods.each do |method|
          %tr
            %th(scope="row")= method.id
            %td= method.name
            %td= "$#{method.cost}"
            %td
              .row
                = link_to 'Edit', edit_admin_shipping_method_path(method)
                = link_to 'Delete', admin_shipping_method_path(method), :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    .shipping-methods-notice
      .alert.alert-primary
        %h3 There are no shipping methods.
