%p#notice.mb-2= notice
.orders-container
  .orders-header.row
    .col-lg-6.left-col
      %h1
        Your orders
        %span.badge.badge-primary
          = @orders.count
    .col-lg-6.right-col
  - if @orders.exists?
    %table.table.table-hover.orders-table
      %thead
        %tr
          %th(scope="col") ID
          %th(scope="col") Customer name
          %th(scope="col") Customer email
          %th(scope="col") Total
          %th(scope="col") Payment
          %th(scope="col") Shipping
          %th(scope="col") Date
          %th(scope="col") Actions
      %tbody
        - @orders.each do |order|
          %tr
            %th(scope="row")= order.id
            %td
              = order.customer_name
              = order.customer_surname
            %td= order.customer_email
            %td
              $#{'%g' % ('%.2f' % order.total)}
            %td= order.payment_method.name
            %td= order.shipping_method.name
            %td= order.created_at.strftime("%B %d, %Y")
            %td
              .row
                = link_to 'View', customer_order_path(order)
  - else
    .orders-notice
      .alert.alert-primary
        %h3 There are no orders.