.order-container
  .order-wrapper.row
    .col-lg-12
      .order-info-container
        .order-header.row
          .col-lg-8
            %h3= "Order #{@order.id} details"
          .order-actions-container.col-lg-4
        %table.table.order-table
          %thead
            %tr
              %th(scope="col") General details:
              %th(scope="col") Billing details:
              %th(scope="col") Shipping details:
          %tbody
            %tr
              %td
                .info-container
                  %span Date:
                  %p= @order.created_at.strftime("%B %d, %Y")
                .info-container
                  %span Order status:
                  %p= @order.status
                .info-container
                  %span Payment method:
                  %span= @order.payment_method.name
                  %p= @order.payment_method.description
              %td
                .info-container
                  %span Name:
                  %p
                    = @order.customer_name
                    = @order.customer_surname
                .info-container
                  %span Address:
                  %p= @order.customer.country
                  %p= @order.customer.city
                  %p
                    = @customer.street
                    = @customer.house_number
                    - if !@customer.apartment_number.nil?
                      = '/ ' + @customer.apartment_number
                .info-container
                  %span Email address:
                  %p= @order.customer_email
                .info-container
                  %span Phone number:
                  %p= @order.customer_phone
              %td
                .info-container
                  %span Address
                  %p= @order.delivery_country
                  %p= @order.delivery_city
                  %p
                    = @order.delivery_street
                    = @order.delivery_house_number
                    - if !@order.delivery_apartment_number.empty?
                      = '/ ' + @order.delivery_apartment_number
      .order-items-container
        .order-items-header
          %h3 Order products
        %table.table.order-items-table
          %thead
            %tr
              %th(scope="col") Product
              %th(scope="col") Price
              %th(scope="col") Quantity
              %th(scope="col") Total
          %tbody
            - @order.cart.cart_items.each do |item|
              %tr
                %td= link_to item.product.title, item.product
                %td
                  $#{'%g' % ('%.2f' % item.unit_price)}
                %td= item.quantity
                %td
                  $#{'%g' % ('%.2f' % item.total_price)}
        .order-shipping-info
          %table.table
            %thead
              %tr
                %th(scope="col") Shipping method
                %th(scope="col") Shipping price
            %tbody
              %tr
                %td.w-25= @order.shipping_method.name
                %td.w-25
                  $#{'%g' % ('%.2f' % @order.shipping_method.cost)}
                %td.w-25
                %td.w-25
        .order-summary
          .row
            .col-lg-8
            .col-lg-4
              .row
                %table.table
                  %tbody
                    %tr
                      %td
                        %p Order subtotal:
                      %td
                        %p
                          $#{'%g' % ('%.2f' % @order.subtotal)}
                    %tr
                      %td
                        %p Shipping:
                      %td
                        %p
                          $#{'%g' % ('%.2f' % @order.shipping_method.cost)}
                    %tr
                      %td
                        %p Order Total:
                      %td
                        %p
                          $#{'%g' % ('%.2f' % @order.total)}