.order-container
  .order-wrapper.row
    .col-lg-12
      .order-info-container
        .order-header.row
          .col-lg-8
            %h3= "Order #{@order.id} details"
          .order-actions-container.col-lg-4
            = link_to 'Delete order', admin_order_path(@order), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
        %table.table.order-table
          %thead
            %tr
              %th(scope="col") General details:
              %th(scope="col") Billing details:
              %th(scope="col") Shipping details:
          %tbody
            %tr
              %td
                .info-container
                  %span Date:
                  %p= @order.created_at.strftime("%B %d, %Y")
                .info-container
                  %span Order status:
                  = simple_form_for(@order, url: update_status_admin_order_path, :method => :post) do |f|
                    = f.input :status, :collection => Order::ORDER_STATUSES, :as => :select, label: false, :item_wrapper_tag => :div, input_html: {class: 'form-control mb-3'}
                    = f.submit 'Update order', class: 'btn btn-primary btn-sm'
                .info-container
                  %span Payment method:
                  %p.font-weight-bold.mb-2
                    = @order.payment_method.name
                  %p= @order.payment_method.description
              %td
                .info-container
                  %span Name:
                  %p= @order.customer_name + ' ' + @order.customer_surname
                .info-container
                  %span Address:
                  %p= @order.customer.country
                  %p= @order.customer.city
                  %p
                    = @order.customer.street + ' ' + @order.customer.house_number
                    - if !@order.customer.apartment_number.empty?
                      = '/' + @order.customer.apartment_number
                .info-container
                  %span Email address:
                  %p= @order.customer_email
                .info-container
                  %span Phone number:
                  %p= @order.customer_phone
              %td
                .info-container
                  %span Address
                  %p= @order.delivery_country
                  %p= @order.delivery_city
                  %p
                    = @order.delivery_street + ' ' + @order.delivery_house_number
                    - if !@order.delivery_apartment_number.empty?
                      = '/' + @order.delivery_apartment_number
      .order-items-container
        .order-items-header
          %h3 Order products
        %table.table.order-items-table
          %thead
            %tr
              %th(scope="col") Product
              %th(scope="col") Price
              %th(scope="col") Quantity
              %th(scope="col") Total
          %tbody
            - @order.cart.cart_items.each do |item|
              %tr
                %td= link_to item.product.title, item.product
                %td= "$#{item.unit_price}"
                %td= item.quantity
                %td= "$#{item.item_total_price}"
        .order-shipping-info
          %table.table
            %thead
              %tr
                %th(scope="col") Shipping method
                %th(scope="col") Shipping price
            %tbody
              %tr
                %td.w-25= @order.shipping_method.name
                %td.w-25= "$#{@order.shipping_method.cost}"
                %td.w-25
                %td.w-25
        .order-summary
          .row
            .col-lg-8
            .col-lg-4
              .row
                %table.table
                  %tbody
                    %tr
                      %td
                        %p Order subtotal:
                      %td
                        %p= "$#{@order.subtotal}"
                    %tr
                      %td
                        %p Shipping:
                      %td
                        %p= "$#{@order.shipping_method.cost}"
                    %tr
                      %td
                        %p Order Total:
                      %td
                        %p= "$#{@order.total}"