%h1 Listing shipping_methods

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @shipping_methods.each do |shipping_method|
      %tr
        %td= shipping_method.name
        %td= link_to 'Show', shipping_method
        %td= link_to 'Edit', edit_shipping_method_path(shipping_method)
        %td= link_to 'Destroy', shipping_method, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shipping method', new_shipping_method_path
