%p#notice= notice
%h2 Order:
%p
  %b Subtotal:
  = @order.subtotal
%p
  %b Delivery price:
  = @order.delivery_price
%p
  %b Tax:
  = @order.tax
%p
  %b Total:
  = @order.total
%p
  %b Delivery city:
  = @order.delivery_city
%p
  %b Delivery street:
  = @order.delivery_street
%p
  %b Delivery house number:
  = @order.delivery_house_number
%p
  %b Delivery apartment number:
  = @order.delivery_apartment_number
%p
  %b Payment method:
  = @order.payment_method
%p
  %b Shipping method:
  = @order.shipping_method
%p
  %b Tracking number:
  = @order.tracking_number
%p
  %b Status:
  = @order.status
%p
  = @order.cart.subtotal
%h2 Products:
%table
  %tbody
    - @order.cart.cart_items.each do |item|
      %tr
        %td= item.product.title
        %td= item.quantity
        %td= item.item_total_price

= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
