%p#notice.mb-2= notice
.admin-categories-container
  .categories-header.row
    .col-lg-6.left-col
      %h1
        Categories
        %span.badge.badge-primary
          = @categories.count
    .col-lg-6.right-col
      = link_to 'Add category', new_admin_category_path, class: 'btn btn-primary btn-md'
  - if @categories.exists?
    %table.table.table-hover.categories-table
      %thead
        %tr
          %th(scope="col") ID
          %th(scope="col") Name
          %th(scope="col") Slug
          %th(scope="col") Products count
          %th(scope="col") Actions
      %tbody
        - @categories.each do |category|
          %tr
            %th(scope="row")= category.id
            %td= link_to category.name, admin_category_path(category)
            %td= category.slug
            %td= category.products.count
            %td
              .row
                = link_to 'View', admin_category_path(category)
                = link_to 'Edit', edit_admin_category_path(category)
                = link_to 'Delete', admin_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    .categories-notice
      .alert.alert-primary
        %h3 There are no categories.