.product-form-container
  .product-form-wrapper
    .product-form
      .form-header
        %h2= form_title
      - if !new_product
        .form-actions-bar
          = link_to 'View product', @product, class: 'btn btn-info btn-sm'
          = link_to 'Delete product', admin_products_path(@product), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
      = simple_form_for([:admin, @product]) do |f|

        - if product.errors.any?
          #error_explanation
            %h2
              = pluralize(product.errors.count, "error")
              prohibited this product from being saved:
            %ul
              - product.errors.full_messages.each do |message|
                %li= message

        .row
          .col-lg-6

            .form-inputs
              .form-group
                = f.input :title, label: 'Product title', input_html: {class: 'form-control'}
              .form-group
                = f.input :price, label: 'Product price', input_html: {class: 'form-control'}
              .form-group
                = f.input :description, label: 'Product description', input_html: {class: 'form-control tinymce', rows: 10}
                = tinymce

          .col-lg-6

            .form-inputs
              .form-group
                = f.association :categories, label: 'Product categories', input_html: {class: 'form-control', id: 'select_product_categories'}
              .form-group
                = f.association :brand, label: 'Product brand', input_html: {class: 'form-control', id: 'select_product_brand'}
              .form-group
                %button.btn.btn-primary.btn-upload-product-images{"data-target" => "#uploadImagesModal", "data-toggle" => "modal", type: "button"}
                  Choose images
                .product-images-fields.row
                  - if !@product.images.nil?
                    - @product.images.each do |image|
                      .product-image-field{"field_image_id" => image.id}
                        .product-image-preview(style="background-image: url(#{image.src});")
                          .remove-product-image
                            %i.fa.fa-times
                        = f.hidden_field :image_ids, :multiple => true, value: image.id
              .form-group
                = f.input :stock_status, :collection => Product::STOCK_STATUSES, :as => :select, :value_method => :first, :label_method => :last,  :item_wrapper_tag => :div, input_html: {class: 'form-control'}
              .form-group
                = f.submit 'Save product', class: 'btn btn-primary btn-lg w-50'
      .form-footer
        = link_to 'Back to products page', admin_products_path, class: 'btn btn-primary btn-sm'
= render 'admin/images/uploader'