%p#notice= notice
.products-container
  .products-header.row
    .col-lg-6.left-col
      %h1
        Products
        %span.badge.badge-primary
          = @products.count
    .col-lg-6.right-col
      = link_to 'Add product', new_admin_product_path, class: 'btn btn-primary btn-md'
  %table.table.table-hover.products-table
    %thead
      %tr
        %th(scope="col") ID
        %th(scope="col") Inventory number
        %th(scope="col") Title
        %th(scope="col") Price
        %th(scope="col") Brand
        %th(scope="col") Category
        %th(scope="col") Actions
    %tbody
      - @products.each do |product|
        %tr
          %th(scope="row")= product.id
          %td= product.inventory_id
          %td
            = link_to product.title, product
          %td= "$#{product.price.to_i}"
          %td= product.brand.name
          %td
            - product.categories.each do |category|
              = link_to category.name, category
          %td
            .row
              = link_to 'Edit', edit_admin_product_path(product)
              = link_to 'Delete', admin_product_path(product), :method => :delete, :data => { :confirm => 'Are you sure?' }