.brands-container
  - if @brands.exists?
    - @brands.each do |brand|
      .single-brand
        .brand-header.row
          .col-lg-6
            %h2= brand.name
          .col-lg-6
            = link_to 'All products', brand, class: 'btn btn-primary float-right'
        .brand-products.row
          - if brand.products.exists?
            - brand.products.limit(4).each do |product|
              .card
                - if product.images.exists?
                  = cl_image_tag(product.images[0].src, class: 'card-img-top')
                - else
                  = image_tag(default_product_image_url, class: 'card-img-top')
                .card-body
                  %h3.card-title
                    = link_to product.title, product
                  %span.card-subtitle.text-muted
                    $#{'%g' % ('%.2f' % product.price)}
                  = simple_form_for @cart_item, remote: true do |f|
                    = f.hidden_field :quantity, value: 1
                    = f.hidden_field :product_id, value: product.id
                    = f.submit 'Add to cart', class: 'btn btn-primary w-100'
          - else
            .alert.alert-danger
              There are no products of this brand.