.row
  - products.each do |product|
    .card.rounded-0
      - if product.images.empty?
        .card-img-top(style="background-image: url(#{default_product_image_url});")
      - else
        .card-img-top(style="background-image: url(#{product.images[0].src});")
      .card-body
        %h4.card-title
          = link_to product.title, product
        %h6.card-subtitle.mb-2.text-muted
          = "$#{product.price.to_i}"
        - if product.stock_status
          = form_for @cart_item, remote: true do |f|
            = f.hidden_field :quantity, value: 1
            = f.hidden_field :product_id, value: product.id
            = f.submit 'Add to cart', class: 'btn btn-success w-100'
        - else
          .alert.alert-primary
            Out of stock