.container-fluid.single-category
  .container-fluid.category-title-container
    .row.clearfix
      .col-lg-6
        %h1
          = category.name
          %span.badge.badge-primary
            = category.products.count
      .col-lg-6
        .sort-buttons.float-right
          .row
            .btn.btn-primary.price-sort.mr-2(sort_direction="asc")
              Price Ascending
            .btn.btn-primary.price-sort(sort_direction="desc")
              Price Descending

  .container-fluid

    .row

      .category-sidebar.col-lg-3

        = form_tag(filter_products_categories_path, remote: true, class: 'products_filter_form') do
          .row.pt-3.pb-3.price-filter-container
            %label.w-100(for="start_price") Price
            .input-group
              %span.input-group-addon.rounded-0 $
              = text_field_tag :start_price, 0, class: 'form-control'
              %span.p-2 -
              %span.input-group-addon.rounded-0 $
              = text_field_tag :end_price, @products_max_price.to_i, class: 'form-control'
              = hidden_field_tag :category_id, category.id
              = hidden_field_tag :sort_direction, 'asc'
          .row.pb-3
            %label.w-100(for="brand") Brand
            - if @category_brands
              - @category_brands.each do |brand|
                .input-group.check-box-wrapper
                  = check_box_tag "brand_ids[#{brand.id}]", brand.id, false, {:name => 'brand_ids[]'}
                  %label(for="brand_ids_#{brand.id}")
                    %span.label-checkbox
                      %i.fa.fa-check
                    = brand.name
          = submit_tag 'Filter Products', class: 'btn btn-primary w-100 mb-3'

        = link_to 'Back', categories_path

      .category-products-container.col-lg-9
        - if @products.exists?
          = render 'categories/category_products', products: @products
        - else
          .category-products-alert
            .alert.alert-danger
              There are no products in this category