%p#notice= notice
%h1 Categories
%table
  %thead
    %tr
      %th Name
      %th Slug
      %th Parent
      %th{colspan: "3"}
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.slug
        %td= category.parent_id
        %td= link_to 'Show', category