.single-product-container
  .row
    .product-image-container.col-lg-6
      - if !@product.images.empty?
        .product-image(style="background-image: url(#{@product.images[0].src});")
      - else
        .product-image(style="background-image: url(#{default_product_image_url});")
    .product-info-container.col-lg-6
      .product-info-header
        %h1= @product.title
      .product-info
        %p= @product.description.html_safe
      .product-buttons-container.row
        .product-price
          %h1= "$#{@product.price.to_i}"
        = simple_form_for @cart_item, remote: true do |f|
          = f.hidden_field :quantity, value: 1
          = f.hidden_field :product_id, value: @product.id
          = f.submit 'Add to cart', class: 'buy-product btn btn-primary btn-lg rounded-0'