.single-product-container
  .row
    .product-image-container.col-lg-6
      - if !@product.images.empty?
        #carouselExampleIndicators.product-images-carousel.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner
            - @product.images.each do |image|
              .carousel-item
                .product-image.d-block.w-100{:style => "background-image: url(#{image.src})"}
          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.sr-only Next
      - else
        .product-image(style="background-image: url(#{default_product_image_url});")
    .product-info-container.col-lg-6
      .product-info-header
        %h1= @product.title
      .product-info
        %p= @product.description.html_safe
      .product-buttons-container.row
        .product-price
          %h1= "$#{@product.price.to_i}"
        - if @product.stock_status
          = simple_form_for @cart_item, remote: true do |f|
            = f.hidden_field :quantity, value: 1
            = f.hidden_field :product_id, value: @product.id
            = f.submit 'Add to cart', class: 'buy-product btn btn-primary btn-lg rounded-0'
        - else
          .alert.alert-primary
            Out of stock