!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OnlineStoreYarych
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  %body
    %header(class="main-header")
      - if current_admin
        .admin-bar
          %ul(class="admin-menu")
            %li= link_to 'Categories', admin_categories_path
            %li= link_to 'Brands', admin_brands_path
            %li= link_to 'Manage Products', admin_products_path
            %li= link_to 'Manage Orders', admin_orders_path
            %li= link_to 'Shipping Methods', admin_shipping_methods_path
            %li= link_to 'Payment Methods', admin_payment_methods_path
            %li= link_to 'Images', admin_images_path
            %li= link_to 'Accounts', admin_accounts_path
            %li= link_to 'Log out', destroy_admin_session_path, method: :delete
      .header-bar
        .header-menu-container
          .row
            .header-logo-container
              = link_to root_path do
                %h1 Shop
            %ul(class="header-menu")
              %li
                .dropdown.show
                  %a#categoriesMenu.categoriesMenu.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#{categories_path}"}
                    Categories
                  .dropdown-menu{"aria-labelledby" => "categoriesMenu"}
                    - Category.all.each do |category|
                      %a.dropdown-item{href: "#{category_path(category)}"}
                        = category.name
              %li= link_to 'Brands', brands_path
              - if current_customer
                %li= link_to 'My orders', customer_orders_path
                %li= link_to 'My account', customer_account_index_path
                %li= link_to 'Log out', destroy_customer_session_path, method: :delete
              - else
                %li= link_to 'My account', new_customer_session_path
            .products-search-form
              = select_tag 'products_search', options_from_collection_for_select(Product.all, 'id', 'title'), {:onchange => 'window.location.replace("/products/" + this.options[this.selectedIndex].value);', :prompt => 'Search products', class: 'form-control'}
        .header-cart-container.float-right
          = render 'carts/header_cart'
    .main-content
      = yield